<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">
        <img src="assets/IMG_8779.PNG" width="100" height="30" class="d-inline-block align-top" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Disabled</a>
        </li>
      </ul>
    </div>

  </nav>
<div class="container">
    <div class="text-center my-line">Test and launch your product with confidence</div>
    <div class="text-center my-para">Ensure your product is bug-free and optimized before launch with out expect QA services</div>

    <div class="text-center toggleWrapper">
        <label for="switch-1" class="switch">
            <!-- Input checkbox acting as the switch button -->
            <input type="checkbox" id="switch-1" (click)="handleChange()" />
            <!-- Span element creating the appearance of the slider button -->
            <span class="slider"></span>
        </label>
    </div>

    <div class="text-center my-flicke">flicke the toggle</div>
    <div class="connector">
      <div class="custom-box">
          <pre>
              <code>
                <span>p</span> {{'{'}} color: {{color}}; {{'}'}}
                <span>body</span> {{'{'}} background-color: #eee; {{'}'}}
              </code>
          </pre>
      </div>

      <div class="connect"></div>
      <div class="customised-box">
        <!-- <pre>
            <code>
              <span>p</span> {{'{'}} color: {{color}}; {{'}'}}
              <span>body</span> {{'{'}} background-color: #eee; {{'}'}}
            </code>
        </pre> -->
    </div>
  </div>
</div>

